#countries{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.country{
    font-size: 1.5rem;
    color: tomato;
    background-color: rgb(66, 62, 62);
    border: 2px solid rgb(240, 100, 0);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
h1{
font-size: 3rem;
text-align: center;
color: white;
background-color:black;
margin:50px 120px;
padding: 20px;
border-radius: 10px;
}
h3{
    color: rgb(255, 38, 0) ;
}
h5{
    color: darkorange ;
    font-size: 2rem;
    text-align: center;
    
}
button{
    padding:10px 30px;
    background-color: tomato;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
}
#country-details{
    font-size: 1.5rem;
    color: tomato;
    background-color: rgb(101, 192, 162);
    border: 2px solid #ec6b0e;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
